html(lang="en")
    head

    body 
    h1 Eaty - join your team on Eaty 
    #container 
    p Hi #{firstname}
    p You've been invited by your team colleague to join Eaty platfrom.
    p Please enter link below to complete registration process.
    bl
    bl
    a(class='button' href=url) Register
    bl
    bl
    p Eaty Team
    