html(lang="en")
    head

    body 
    h1 Eaty - your account
    #container 
    p Hi #{firstname}
    p You have requested password reset for your eaty account.
    p Please enter link below to complete reset password process.
    p In case that you did not request password reset please contact Support or your account Admin.
    bl
    bl
    a(class='button' href=url) Reset
    bl
    bl
    p Eaty Team
    